<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>新闻</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css"/>
	</head>
	<body>
		<%- include("./navs.ejs")%>
		<h2>新闻列表</h2>
		</ul>
	</body>
</html>
